<%= image_tag('sprout-logo.png') %>
<h1>SproutPlanner</h1>
<h2>SproutPlanner packages</h2>
<h3>SproutPlanner Lite</h3>
<p>Schedule seeding, stay on track, get checklists, all for $5/month</p>
<h3>SproutPlanner Pro</h3>
<p>all the features of Lite, plus soil filling scheduling, label requirements and more</p>
<%= link_to 'About', about_path %>
